@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --bs-body-font-family:"Lato", sans-serif;
}   

.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .lato-thin-italic {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .lato-black-italic {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

body {
    font-family: var(--bs-body-font-family);
    font-optical-sizing: auto;
    font-style: normal;
    background-color: transparent;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased; /* Chrome/Safari */
    -moz-osx-font-smoothing: grayscale;  /* Firefox */
     /* Evita distorção por zoom */
     transform: none;
}

.navbar-bg-dark {
    background-color: black;
}

img.logo-site{
    height: 100px;
}

.home {
    background-image: url('/media/img/slide.jpg'); /* Coloque o caminho da sua imagem */
    background-size: cover; /* A imagem cobre toda a área do div */
    background-position: center; /* Centraliza a imagem */
    min-height: 100vh; /* Define a altura do div como 100% da altura da janela */
    display: grid; /* Flexbox para centralizar o conteúdo */
    /*justify-content: center; /* Alinha o conteúdo horizontalmente */
    align-items: center; /* Alinha o conteúdo verticalmente */
    /*text-align: center; /* Centraliza o texto */
    color: white; /* Cor do texto */
    padding: 20px; /* Espaçamento interno */
    box-sizing: border-box; /* Inclui o padding no tamanho total do div */
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Sobreposição preta com 50% de opacidade */
  }


.jumbotron-bgk{
    background-color: transparent;
    position: relative;
    color: white; /* Cor do texto */
    z-index: 1; /* Garante que o texto fique acima do overlay */
}

.about-img{
    background-image:  url('/media/img/law-and-authority-lawyer-concept-judgment-gavel-hammer-in-court-courtroom-for-crime-judgement-legislation-and-judicial-decision-free-photo.jpg');
    background-size: cover;
    background-position: center;
    min-height: 550px;
    background-repeat: no-repeat;
    border-radius: 20px;
    transition: all 0.3s ease-in-out; /* Transição suave */
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  
    
}

/* Efeito ao passar o mouse */
.about-img:hover {
    transform: scale(1.03); /* Leve zoom */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); /* Sombra mais intensa */
    filter: brightness(0.9); /* Leve escurecimento */
}



.about{
    /*background-color: #B3852D;*/
    /*background-color: #293A4A;*/
    background-image:  url('/media/img/shape.png');

}

.services {
   
  background-image: url('/media/img/bg-services.jpg'); /* Coloque o caminho da sua imagem */
  background-size: cover; /* A imagem cobre toda a área do div */
  background-position: center; /* Centraliza a imagem */
  min-height: 100vh; /* Define a altura do div como 100% da altura da janela */
  display: grid; /* Flexbox para centralizar o conteúdo */
  align-items: center; /* Alinha o conteúdo verticalmente */
  color: white; /* Cor do texto */
  padding: 20px; /* Espaçamento interno */
  box-sizing: border-box; /* Inclui o padding no tamanho total do div */
  position: relative;
      
     
}

.overlay.overlay-services {
  background-color: rgba(235, 230, 226, 0.9); /* Sobreposição preta com 50% de opacidade */
}



.service-card {
    position: relative;
    box-shadow: 0 0 6px rgba(0, 0, 0, .04);
    background-color: #f5f5f5;
    border-radius: 20px;
    border-bottom: 6px solid #293A4A;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    transition: all 0.3s ease-in-out; /* Transição suave */
}

.service-card:hover {
    transform: scale(1.05); /* Leve aumento no tamanho */
    background-color: #f5f5f5; /* Altere a cor de fundo */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); /* Mais destaque */
}


.team{
    background-color: #f5f5f5;
    background-image:  url('/media/img/team-shape.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
  
}

.img-ajustada {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: top;
    border-radius: 20px;
    transition: all 0.3s ease-in-out; /* Transição suave */
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

.img-ajustada:hover {
    transform: scale(1.03); /* Leve zoom */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); /* Sombra mais forte */
    filter: brightness(0.9); /* Escurece levemente */
}

.btn-wbsite {
    background-color: #B3852D;
    color: white;
    font-weight: 300;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.btn-wbsite:hover {
    background-color: #9C6F20; /* tom mais escuro da cor principal */
    color: white;
    transform: scale(1.05); /* Leve aumento */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Mais destaque */
}

.footer-site{
  background-color: #293A4A;
}

.footer-end{
  background-color: black;

}

.bg-breadcrumb{
  background-color: #B3852D;
}

