{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Juliana Macedo e Jullya Macedo | Advogadas Associadas</title>
    <meta name="description" content="Somos especializadas e direito previdenciário, direito consumidor e direito digital.">
    <meta name="keywords" content="direito previdenciário, consumidor e digital">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Estilos customizados para esse template -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>

<body>
<!-- Cabeçalho -->
<header>
  <nav class="navbar navbar-expand-lg navbar-dark navbar-bg-dark">
        <div class="container">
        <a class="navbar-brand" href="{% url 'sobre' %}">
          <img class="logo-site" src="/media/website/LOGO-JJ.png" alt="Juliana Macedo e Jullya Macedo - Advogadas Associadas">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sobre</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Especialidades</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Contatos</a>
            </li>
                      
          </ul>
         
        </div>
      </div>
  </nav>
</header>

<main>

  {% block content %}


  {% endblock %}

</main>

 <!-- Rodapé -->
 <footer class="footer-site py-2 text-center text-dark">
  <div class="container">
  <div class="row">
    <div class="col-sm-12">
      <span>Desenvolvido por: Vinicius Almeida</span>
    </div>
  </div>
</div>
 </footer>
<!-- Principal JavaScript do Bootstrap
================================================== -->
<!-- Foi colocado no final para a página carregar mais rápido -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>