{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Jullya Macedo e Juliana Macedo | Advogadas Associadas</title>
    <meta name="description" content="Atuação especializada em Direito Previdenciário, Direito do Consumidor e Direito Digital. Atendimento online e presencial.">
    <meta name="keywords" content="direito previdenciário, direito do consumidor e direito digital">
    <!-- OG Tags -->
    <meta property="og:title" content="Jullya Macedo e Juliana Macedo | Advogadas Associadas">
    <meta property="og:description" content="Atuação especializada em Direito Previdenciário, Direito do Consumidor e Direito Digital. Atendimento online e presencial.">
    <meta property="og:image" content="https://www.jullyaejuliana.com.br/media/website/logo-og.png">
    <meta property="og:url" content="https://www.jullyaejuliana.com.br/">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Jullya Macedo e Juliana Macedo">
    <!-- icon -->
    <link rel="icon" type="image/png" sizes="16x16"  href="/media/website/favicon-16x16.png">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Estilos customizados para esse template -->
    <link href="{% static '/css/styles.css' %}" rel="stylesheet">
</head>

<body>
<!-- Cabeçalho -->
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
          <img class="logo-site img-fluid" src="/media/website/logo-black.png" alt="Juliana Macedo e Jullya Macedo - Advogadas Associadas">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'sobre' %}">Quem Somos</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'especialidades' %}">Especialidades</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'blog' %}">Blog</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'contatos' %}">Contatos</a>
            </li>
                      
          </ul>
         
        </div>
      </div>
  </nav>
</header>

<main>

  {% block content %}


  {% endblock %}

</main>

 <!-- Rodapé -->
<footer>

<div class="footer-site py-5">
  <div class="container">
    <div class="row">

<div class="col-lg-3">
  <img class="img-fluid" src="/media/website/logo-white.png" alt="">
</div>

<div class="col-lg-3">
  <h5 class="font-weight-bold text-light sec-title">Contatos</h5>
  <div class="d-flex align-items-center text-light mb-2">
    <i class="bi bi-whatsapp mr-1"></i>
    <span>(86) 3211-5365</span>
  </div>

  <div class="d-flex align-items-center text-light mb-2">
    <i class="bi bi-envelope mr-1"></i>
    <span>julianabmacedo@outlook.com</span>
  </div>

  <div class="d-flex align-items-center text-light mb-2">
    <i class="bi bi-geo-alt-fill mr-1"></i>
    <span>Teresina-PI</span>
  </div>
</div>


<div class="col-lg-3">
  <h5 class="font-weight-bold text-light sec-title">Links</h5>
  <ul class="nav flex-column">

    {% for especialidade in especialidade_list %}
    <li class="nav-item">
      <a href="{% url 'especialidade_detail' especialidade.slug %}" class="link text-light lato-light">
        {{ especialidade.nome_especialidade }}
      </a>
      {% endfor %}
    </li>
   </ul>
</div>

<div class="col-lg-3">
  <h5 class="font-weight-bold text-light sec-title">Redes Sociais</h5>
  <div class="d-flex align-items-center text-light mb-2">
    <i class="bi bi-instagram mr-1"></i>
    <span class="lato-light">Instagram</span>
  </div>
</div>



</div>
</div>
</div>

<div class="footer-end py-3 mb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-light text-center">
        <p class="mb-0">&copy; 2025 Juliana e Jullya. Todos os direitos reservados.</p>
      </div>
    </div>
  </div>
</div>

</footer>



<!-- Principal JavaScript do Bootstrap
================================================== -->
<!-- Foi colocado no final para a página carregar mais rápido -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>