{% extends "base.html" %}
{% load static %}
{% block content %}


<!-- Page Title -->
<div class="py-5 mb-4 bg-breadcrumb text-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="sec-title font-weight-bold text-center">{{ post.titulo }}</h1>

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent text-center justify-content-center">
            <li class="breadcrumb-item"><a href="{% url 'home' %}" class="text-light">Inicio</a></li>
            <li class="breadcrumb-item"><a href="{% url 'blog' %}" class="text-light">Blog</a></li>
            <li class="breadcrumb-item active text-dark" aria-current="{{ post_detail.titulo }}">
              {{ post_detail.titulo }}
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>

<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <p>{{ post_detail.conteudo|safe }}</p>
      </div>

      <div class="col-sm-4">
        <div class="list-group">
          <div class="card-header border">
            <h5 class="font-weight-bold mb-0">Categorias</h5>
          </div>
          {% for especialidade in especialidade_list %}
          <a href="{% url 'especialidade_detail' especialidade.slug %}" class="list-group-item list-group-item-action">
            {{ especialidade.nome_especialidade }}
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section><!-- /Service Details Section -->



{% endblock %}