{% extends "base.html" %}
{% load static %}
{% block content %}


    <!-- Page Title -->
<div class="py-5 mb-4 bg-breadcrumb text-light">
  <div class="container"> 
    <div class="row">
      <div class="container-fluid">
        <h1 class="sec-title font-weight-bold">{{ especialidade.nome_especialidade }}</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      
      <p>{{ especialidade.descricao_especialidade|safe }}</p>
                  
      </div>
    </div>
  </div>
</div>



   

    <!-- Service Details Section -->
    <section>

   

    </section><!-- /Service Details Section -->

  

    {% endblock %}