{% extends "base.html" %}
{% load static %}
{% block content %}


    <!-- Page Title -->
<div class="py-5 mb-4 bg-light">
  <div class="container">
    <div class="row">
      <div class="container-fluid">
        <h1>{{ especialidade.nome_especialidade }}</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h4>Nossas Especialidades</h4>

      <div class="list-group">
      {% for especialidade_item in especialidade_lista_itens %}
        <a href="{% url 'especialidade_detail' especialidade_item.pk %}" class="list-group-item list-group-item-action">
          {{ especialidade_item.nome_especialidade }}
        </a>
      {% endfor %}
               
      </div>
    </div>
  </div>
</div>



   

    <!-- Service Details Section -->
    <section>

   

    </section><!-- /Service Details Section -->

  

    {% endblock %}