{% extends "base.html" %}
{% load static %}
{% block content %}


    <!-- Page Title -->
<div class="py-5 mb-4 bg-light">
  <div class="container">
    <div class="row">
      <div class="container-fluid">
        <h1 class="sec-title font-weight-bold">{{ especialidade.nome_especialidade }}</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      
      {% if especialidade.id == 1 %}
          {% include "direito_previdenciario.html" %}
      {% elif especialidade.id == 2 %}
          {% include "direito_digital.html" %}
      {% elif especialidade.id == 3 %}
          {% include "direito_consumidor.html" %}
      {% endif %}
                  
      </div>
    </div>
  </div>
</div>



   

    <!-- Service Details Section -->
    <section>

   

    </section><!-- /Service Details Section -->

  

    {% endblock %}