{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Seção de destaque -->
<section class="home">
      <div class="overlay"></div>
        <div class="jumbotron jumbotron-bgk">
          <div class="container">
            <h1 class="font-weight-bold sec-title">Advocacia <br> Especializada</h1>
            <p>Direito consumidor, digital e previdenciário.</p>
          </div>
        </div>
</section>
<!-- Fim Seção de destaque -->


        <!-- Seção sobre -->
<section class="about py-5">
  <div class="container">
    <div class="row">

      <div class="col-sm-12 text-center py-5">
      <h2 class="font-weight-bold sec-title">Excelência, Ética e Compromisso!</h2>
      <hr>
      </div>

    <div class="col-6">
      <div class="about-img">       
      </div>
    </div>

     <!-- {% if sobre_list %}
      {% for sobre in sobre_list %}
      <p class="sec-text">{{ sobre.quemsomos|linebreaksbr }}</p>
      {% endfor %}

      {% else %}
      <p>Informações sobre a empresa não disponíveis.</p>
      {% endif %}-->

      
    
    <div class="col-6">

      <ul class="list-unstyled">
        <li class="media">
          <img class="mr-3" src="/media/icones/002-justica.png" alt="Imagem de exemplo genérica">
          <div class="media-body">
            <h5 class="mt-0 mb-1 font-weight-bold sec-title">Compromisso com a Justiça</h5>
            <p class="sec-text">
            Acreditamos no poder da justiça e trabalhamos com dedicação para garantir que seus direitos sejam respeitados. Nossa missão é fornecer serviços jurídicos de alta qualidade, com ética e transparência.
          </p>
          </div>
        </li>
        <li class="media my-4">
          <img class="mr-3" src="/media/icones/003-justica-1.png" alt="Imagem de exemplo genérica">
          <div class="media-body">
            <h5 class="mt-0 mb-1 font-weight-bold sec-title">Soluções Jurídicas Personalizadas</h5>
            <p class="sec-text">
              Defendemos seus direitos com estratégias jurídicas personalizadas para cada caso. 
            Conte com nossa equipe experiente para resolver suas questões legais com seriedade e comprometimento.
          </p>
          </div>
        </li>
        <li class="media">
          <img class="mr-3" src="/media/icones/005-livro-de-leis.png" alt="Imagem de exemplo genérica">
          <div class="media-body">
            <h5 class="mt-0 mb-1 font-weight-bold sec-title">Confiança e Resultados</h5>
            <p class="sec-text">Nossa história é construída com base na confiança dos nossos clientes e nos resultados que alcançamos. Trabalhamos para proporcionar segurança jurídica e soluções eficazes.</p>
            <a href="{% url 'sobre' %}" class="btn btn-wbsite">Ver Mais</a>      
          </div>
        </li>
      </ul>


    </div>
  </div>
</section>


<!-- Seção de serviços -->
<section class="services py-5">
    <div class="container">

      <div class="row">
        <div class="col-sm-12">   
          <h2 class="sec-title text-center font-weight-bold">Atuação</h2>
          <hr>
        </div>
      </div>


  <div class="row">
    {% if especialidade_list %}
      {% for especialidade in especialidade_list %}
          <div class="col-sm-4">   
            <article>           
              <div class="card service-card">
                <div class="card-body">

                  {% if especialidade.icone %}
                    <img class="mr-3" src="{{ especialidade.icone.url }}" alt="{{ especialidade.nome_especialidade }}">
                  {% endif %}

                    <h5 class="card-title mt-3 sec-title font-weight-bold">{{ especialidade.nome_especialidade }}</h5>
                    <p class="card-text sec-text">{{ especialidade.resumo_especialidade }}</p>
                    <a href="{% url 'especialidade_detail' especialidade.pk %}" class="card-link text-dark">Saiba mais</a>
                
                </div>  
              </div>
          </article>
          </div>
      {% endfor %}
      
      {% else %}
          <p>Sem cadastros de Especialidades.</p>
    {% endif %}
</div>

<div class="row my-4">
  <div class="col-sm-12 text-center">   
  <a href="{% url 'especialidades' %}" class="btn btn-wbsite ">Ver áreas de atuação</a>
</div>
</div>


</div>
</section><!-- FimSeção de serviços -->

<section class="team py-5">
  <div class="container">

    <div class="row">
      <div class="col-sm-12">   
        <h2 class="sec-title text-center font-weight-bold">Equipe</h2>
        <hr>
      </div>
    </div>


<div class="row">
      {% if equipe_list %}
      {% for equipe in equipe_list %}
          <div class="col-sm-6 text-dark text-center">   
            <article>           
              <div class="card border-0 bg-transparent">
                  <img class="card-img-top img-ajustada" src="{{ equipe.photo.url }}" alt="Imagem de capa do card">
              <div class="card-header bg-transparent">
                <h5 class="mb-0 sec-title font-weight-bold">{{ equipe.nome_adv }}</h5>
              </div>

              <div class="card-body">
                <p class="card-text text-dark">{{ equipe.perfil_adv|linebreaksbr }}</p>
              </div>
              
              </div>
            </article>
          </div>
      {% endfor %}
      
      {% else %}
          <p>Sem cadastros de Equipe.</p>
    {% endif %}
</div>

 </div>
</section>


<section class="contact py-5">


  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="sec-title text-center font-weight-bold text-light">Atendimentos</h2>
        <hr>
      </div>
      </div>

<div class="row">
  <div class="col-4">
    <div class="media">
        <img src="/media/icones/icons8-local-50.png" class="align-self-start mr-3">
      <div class="media-body">
        <h5 class="font-weight-bold text-light sec-title">Endereço</h5>
        <p class="sec-text text-light">Teresina-PI</p>
      </div>
    </div>
</div>

<div class="col-4">
  <div class="media">
       <img src="/media/icones/icons8-whatsapp-50.png" class="align-self-start mr-3">
      <div class="media-body">
        <h5 class="font-weight-bold text-light sec-title">WhatsApp</h5>
        <a href="https://wa.me/5599999999999" target="_blank">(86)99999-9999</a>
        
      </div>
  </div>
</div>

<div class="col-4">
  <div class="media">
        <img src="/media/icones/icons8-nova-mensagem-50.png" class="align-self-start mr-3">
      <div class="media-body">
        <h5 class="font-weight-bold text-light sec-title">Email</h5>
        <p class="sec-text text-light">JJadv@gmail.com</p>
      </div>
  </div>
</div>
</div>
</div>

</section>


{% endblock %}